body {
  font-family: Arial;
  background: #f5f5f5;
}

header {
  background: #ff6a00;
  color: white;
  padding: 15px;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}